<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>servlet.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestDemo</servlet-name>
  	<display-name>TestDemo</display-name>
  	<description></description>
  	<servlet-class>servlet.TestDemo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LicenseListServlet</servlet-name>
  	<display-name>LicenseListServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LicenseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestDemo</servlet-name>
  	<url-pattern>/TestDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LicenseListServlet</servlet-name>
  	<url-pattern>/licenses</url-pattern>
  </servlet-mapping>
</web-app>
