<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<description></description>
		<servlet-class>servlet.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestDemo</servlet-name>
		<display-name>TestDemo</display-name>
		<description></description>
		<servlet-class>servlet.TestDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LicenseListServlet</servlet-name>
		<display-name>LicenseListServlet</display-name>
		<description></description>
		<servlet-class>servlet.LicenseListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverLink1</servlet-name>
		<display-name>DriverLink1</display-name>
		<description></description>
		<servlet-class>servlet.DriverLink1</servlet-class>
		</servlet>
	<servlet>
		<servlet-name>RenewalNoticeListServlet</servlet-name>
		<display-name>RenewalNoticeListServlet</display-name>
		<description></description>
		<servlet-class>servlet.RenewalNoticeListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverUpdateAdd</servlet-name>
		<display-name>DriverUpdateAdd</display-name>
		<description></description>
		<servlet-class>servlet.DriverUpdateAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverExtend</servlet-name>
		<display-name>DriverExtend</display-name>
		<description></description>
		<servlet-class>servlet.DriverExtend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverPayment</servlet-name>
		<display-name>DriverPayment</display-name>
		<description></description>
		<servlet-class>servlet.DriverPayment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverLink2</servlet-name>
		<display-name>DriverLink2</display-name>
		<description></description>
		<servlet-class>servlet.DriverLink2</servlet-class>
	</servlet>
	<servlet>		
		<servlet-name>ManualServlet</servlet-name>
		<display-name>ManualServlet</display-name>
		<description></description>
		<servlet-class>servlet.ManualServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OfficerUpdateServlet</servlet-name>
		<display-name>OfficerUpdateServlet</display-name>
		<description></description>
		<servlet-class>servlet.OfficerUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestDemo</servlet-name>
		<url-pattern>/TestDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LicenseListServlet</servlet-name>
		<url-pattern>/licenses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverLink1</servlet-name>
		<url-pattern>/DriverLink1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>

		<servlet-name>RenewalNoticeListServlet</servlet-name>
		<url-pattern>/renewalNoticeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverUpdateAdd</servlet-name>
		<url-pattern>/DriverUpdateAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverExtend</servlet-name>
		<url-pattern>/DriverExtend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverPayment</servlet-name>
		<url-pattern>/DriverPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverLink2</servlet-name>
		<url-pattern>/DriverLink2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManualServlet</servlet-name>
		<url-pattern>/manual</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfficerUpdateServlet</servlet-name>
		<url-pattern>/manuallyUpdate</url-pattern>
	</servlet-mapping>
</web-app>
